NODE_ENV=...

ASTROLOGY_API_SERVER_PORT=...
ASTROLOGY_API_SERVER_DNS=...

BOOKING_API_SERVER_PORT=...
BOOKING_API_SERVER_DNS=...

PAYMENT_API_SERVER_PORT=...
PAYMENT_API_SERVER_DNS=...

FRONTEND_SERVER_PORT=...
FRONTEND_SERVER_DNS=...

ASTROLOGY_API_SENTRY_DSN=...

ASTROLOGER_API_URL=...
ASTROLOGER_API_HOST=...
ASTROLOGER_API_KEY=...
